[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Conky glance
Comment=At-a-Glance widget with cava spectrum
Exec=sh -c "while ! pgrep picom >/dev/null; do sleep 0.5; done; sleep 0.5; bash ~/.config/conky/cava-spectrum.sh & exec conky -c ~/.config/conky/conky.conf"
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
